* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}
:root {
    --main-color :#17412D ;
    --text-color :#060807 ;
    --background-color:#F5F2ED;
    --text-color2 :#ef7a53;
    --big-font : 5rem;
    --h2-font :2.25rem;
    --p-font :0,9rem;
}
*::selection {
    background: var(--main-color);
    color: #fff;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--background-color);
}
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 170px;
    background-color: #17412D;
}
.navbar { /*biat teratur tulisan navbarnyoo*/
    display: flex;
    position: fixed;
    list-style: none;
}
.navbar a { /*navbar berjarak*/ 
    color: #fff ;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
}
.navbar a:hover { /*tulisan berwarna*/
    color: var(--text-color2) !important;
    transition: .4s;
}
/*logo*/ 
.logo2 {
    position: fixed;
    top: 10px;
    left: 100px;
    width: 25px;
    height: auto;
    max-width: 30%;
    margin-bottom: 15px;
}
/* tombol masuk */
.masuk {
    position: fixed;
    top: 10;
    right: 0;
    display: flex;
    width: 10px;
    justify-content: flex-end; 
    align-items: flex-end;
    padding: 30px 50px;
}
.masuk-btn {
    background-color: transparent; 
    color: var(--text-color2) !important;               
    padding: 8px 13px;            
    border: 2px solid var(--text-color2) !important;    
    border-radius: 5px;            
    text-decoration: none;     
}
.masuk-btn:hover {
    background-color: var(--text-color2) !important;
    color: white;
    transition: .2s;
}

div .collapse {
    display: none;
}


/* -----------footer----------- */
.footer {
    background-color: #174728 !important;  
    color: white;
    padding: 20px 170px;
    font-size: 14px;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;        
}

/* Mengatur logo dan teks bahasa */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 100px;
}

.footer-logo img {
    width: 150px; /* Ukuran logo */
    margin-bottom: 10px;
}

.footer-logo a {
    position: fixed;
    width: 150px;
    margin-top:110px;
    color: #fff;
    text-decoration: none;
}

.footer-logo a:hover {
    color: var(--text-color2) !important;
    transition: 0s;
}

.footer-logo i {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

/* Style untuk setiap bagian link di footer */
.footer-link {
    list-style-type: none;
    padding-top: 13px;
}

.footer-link ul {
    padding: 0;
    margin: 0;
}

.footer-link ul li {
    margin-bottom: 10px;
}

.footer-link ul li a {
    color: white;
    text-decoration: none;
    transition: color 0;
}

.footer-link ul li a:hover {
    color: var(--text-color2) !important; /* Warna oranye saat hover */
}

.footer-link .down {
    padding-top: 55px;
}