* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}
:root {
    --main-color :#17412D ;
    --text-color :#060807 ;
    --background-color:#F5F2ED;
    --text-color2 :#ef7a53;
    --big-font : 5rem;
    --h2-font :2.25rem;
    --p-font :0,9rem;
}
*::selection {
    background: var(--main-color);
    color: #fff;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--background-color);
}
/* header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 170px;
    background-color: #17412D;
} */
.navbar { /*biat teratur tulisan navbarnyoo*/
    display: flex;
    position: fixed;
    list-style: none;
    padding: 10px 20px;
    background-color: var(--main-color) !important;
    justify-content: space-between;
    align-items: center;
}
.navbar .collapse  { /*navbar berjarak*/ 
    color: white; ;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
}
.navbar-nav {
    display: flex;
}
.nav-link {
    display: flex;
    gap: 20px;
    color: white;
}
.navbar a:hover { /*tulisan berwarna*/
    color: var(--text-color2) !important;
    transition: .4s;
}
/*logo*/ 
.logo {
    position: fixed;
    top: 10px;
    left: 100px;
    width: 25px;
    height: auto;
    max-width: 30%;
    margin-bottom: 15px;
}
/* tombol masuk */
.masuk {
    position: fixed;
    top: 10;
    right: 0;
    display: flex;
    width: 10px;
    justify-content: flex-end; 
    align-items: flex-end;
    padding: 30px 50px;
}
.masuk-btn {
    background-color: transparent; 
    color: var(--text-color2) !important;               
    padding: 8px 13px;            
    border: 2px solid var(--text-color2) !important;    
    border-radius: 5px;            
    text-decoration: none;     
}
.masuk-btn:hover {
    background-color: var(--text-color2) !important;
    color: white;
    transition: .2s;
}

/* ----------kelas------------ */
.container {
    max-width: 1000px;
    margin: 80px auto;
    padding: 50px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 5px;
}
.button-filter {
    padding: 8px 12px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ef7a53;
    border-radius: 10px;
    border: 1px solid #ef7a53;
    cursor: pointer;
}
.button-filter:hover {
        background-color: var(--text-color2);
        color: white;
        transition: .2s;
}
.search-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ef7a53;
    background: transparent;
    border-radius: 15px;
    width: 100%;
    margin-right: 20px;
}
.search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}
.header i {
    margin-right: 10px;
    color: #ef7a53;
}
/*h1*/
h2 {
    color: #060807;
    margin-bottom: 50px;
    font-weight: 600;
}

/* Filter */
.filter {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 20px;
}
.filter select {
    padding: 8px;
    background: transparent;
    border: 1px solid #ef7a53;
    border-radius: 10px;
    margin-bottom: 10px;
}
.filter select:hover {
    background: var(--text-color2);
    color: white;
}
option {
    background: var(--background-color);
    color: #060807;
}


/* Daftar Kursus */
.daftar-kursus {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 5%;
}
.course-item {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #116448 !important;
    background-color: #fff;
}
.course-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}
.konten-course {
    flex: 1;
}
.title-course {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #060807;
}
.deskripsi-course {
    font-size: 14px;
    color: #060807;
    margin: 10px 0 10px;
    line-height: 1.5;
}
.deskripsi-course span {
    color: #ef7a53 !important;
}
.deskripsi-course a {
    text-decoration: none;
    color: #ef7a53 !important;
}
.deskripsi-course a:hover {
    color: #ff4000 !important;
}
.tag-course {
    font-size: 13px;
    color: #060807;
    display: flex;
    gap: 8px;
}
.tag-course span {
    border: 1px solid #116448 !important;
    padding: 4px 15px;
    border-radius: 10px;
    background: transparent;
}
.button-daftar {
    padding: 8px 12px;
    border: 1px solid #ef7a53 !important;
    background: transparent;
    color: #060807;
    border-radius: 10px;
    cursor: pointer;
}
.button-daftar a:hover {
    background-color: #ef7a53 !important;
    color: white;
}

/* Layout Halaman */
.main-content {
    display: flex;
}

/*paginations */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #555 !important;
    font-size: 0.9em;
    padding: 25px 0;
    margin-left: 18%;
}
.pagination .prev.disabled {
    color: #ccc !important;
    cursor: default;
}
.pagination .prev:hover:not(.disabled), .pagination .next:hover {
    color: #116448 !important;
}
.pagination a, .pagination span {
    text-decoration: none;
    color: #555 !important;
    padding: 5px 10px;
    margin: 0 3px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.pagination .page {
    border: 1px solid #116448 !important;
    color: #060807;
}
.pagination .page:hover {
    background-color: #ef7a53 !important;
    color: white;
}
.pagination .dots {
    color: #060807;
    padding: 5px;
}
.pagination .prev, .pagination .next {
    font-weight: bold;
    color: #060807;
    cursor: pointer;
}





/* -----------footer----------- */
.footer {
    background-color: #174728 !important;  
    color: white;
    padding: 20px 170px;
    font-size: 14px;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;        
}

/* Mengatur logo dan teks bahasa */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 100px;
}

.logo-footer {
    width: 150px; /* Ukuran logo */
    margin-bottom: 10px;
}

.item {
    position: fixed;
    width: 150px;
    margin-top:110px;
    color: #fff;
    text-decoration: none;
}

.footer-logo a:hover {
    color: var(--text-color2) !important;
    transition: 0s;
}

.bx bx-globe {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

/* Style untuk setiap bagian link di footer */
.footer-item {
    display: block;
    align-items: center;
    gap: 10px;
}
.footer-link {
    list-style-type: none;
    padding-top: 13px;
}

.footer-link ul {
    padding: 0;
    margin: 0;
}

.footer-link ul li {
    margin-bottom: 10px;
}

.footer-link ul li a {
    color: white;
    text-decoration: none;
    transition: color 0;
}

.footer-link ul li a:hover {
    color: var(--text-color2) !important; /* Warna oranye saat hover */
}

.footer-link .down {
    padding-top: 55px;
}